<!-- blog main -->
<main>
    <div class="section">
        <article class="article-one-column">
            <h3><%= @blog.title %></h3>
            <div class="author-info">
                <%= image_tag(@author.photo_path, :alt => "Author") %>
                <div class="author-detail">
                    <h4><%= "#{@author.first_name} #{@author.last_name}" %></h4>
                    <h4><%= @blog.create_date%></h4>
                </div>
            </div>
            <%= image_tag(@blog.pic_path, :alt => "main blog image", :class => "blog-main-img") %>
            <% for paragraph in @paragraphs do %>
                <p><%= paragraph.content %></p>
            <% end %>
        </article>
        <div id="blog-pages-index">
            <h2>&lt;
                <label class="cur-page">1</label>
                <label><a href="2020/blog_02_03.html">2</a></label>
                <label><a href="2020/blog_09_03.html">3</a></label>
                <label><a href="2020/blog_16_03.html">4</a></label>
                <label><a href="2020/blog_23_03.html">5</a></label>
                &gt;
            </h2>
        </div>
    </div>
</main>