<!-- blog main -->
<main>
    <div class="section">
        <article class="article-one-column">
            <h3><%= @blog.title %></h3>
            <div class="author-info">
                <%= image_tag(@author.photo_path, :alt => "Author") %>
                <div class="author-detail">
                    <h4><%= "#{@author.first_name} #{@author.last_name}" %></h4>
                    <h4><%= @blog.create_date%></h4>
                </div>
            </div>
            <%= image_tag(@blog.pic_path, :alt => "main blog image", :class => "blog-main-img") %>
            <% for paragraph in @paragraphs do %>
                <p><%= paragraph.content %></p>
            <% end %>
        </article>
        <div id="blog-pages-index">
            <h2>
                <% if @blog.id < 6 %>
                    &lt;
                <% else %>
                    <label><%= link_to "<", blog_path(@prev_id) %></label>
                <% end %>
                <% 5.times do |i| %>
                    <% break if @start_id + i > @blogs.length %>
                    <% if @start_id + i == @blog.id %>
                        <label class="cur-page"><%= @start_id + 1 %></label>
                    <% else %>
                        <label><%= link_to "#{@start_id + 1}", blog_path(@start_id + i) %></label>
                    <% end %>
                <% end %>
                <% if @next_id > @blogs.length %>
                    &gt;
                <% else %>
                    <label><%= link_to ">", blog_path(@next_id) %></label>
                <% end %>
                
            </h2>
        </div>
    </div>
</main>