
<div class="bg-color">
    <!-- main title and navigation bar -->
    <header class="bg-color">
        <!-- main title -->
        <h1 id="title-top">Jason's</h1>
        <h1 id="title-bottom">Portfolio</h1>
        
        <!-- menu icon only appears on small window and underscore only appears on large window-->
        <nav class="right-nav">
            <div class="btn-wrapper">
                <%# <a href="index.html" class="hover-wrapper"></a> %>
                <%= link_to("", {:action => 'index'} , class: "hover-wrapper") %>
                <div class="menu-icon cur-category">
                    <i class="fas fa-home"></i>
                </div>
                <%# <a href="index.html" class="menu-string cur-category">Home</a> %>
                <%= link_to("Home", {:action => 'index'} , class: "menu-string cur-category") %>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <%# <a href="about.html" class="hover-wrapper"></a> %>
                <%= link_to("", {:action => 'about'} , class: "hover-wrapper") %>                
                <div class="menu-icon">
                    <i class="fas fa-address-card"></i>
                </div>
                <%# <a href="about.html" class="menu-string">About</a> %>
                <%= link_to("About", {:action => 'about'} , class: "menu-string") %>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <%# <a href="projects.html" class="hover-wrapper"></a> %>
                <%= link_to("", {:action => 'projects'} , class: "hover-wrapper") %>                
                <div class="menu-icon">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <%# <a href="projects.html" class="menu-string">Projects</a> %>
                <%= link_to("Project", {:action => 'projects'} , class: "menu-string") %>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <%# <a href="blog.html" class="hover-wrapper"></a> %>
                <%= link_to("", {:action => 'blog'} , class: "hover-wrapper") %>                
                <div class="menu-icon">
                    <i class="far fa-newspaper"></i>
                </div>
                <%# <a href="blog.html" class="menu-string">Blog</a> %>
                <%= link_to("Blog", {:action => 'blog'} , class: "menu-string") %>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <%# <a href="contact.html" class="hover-wrapper"></a> %>
                <%= link_to("", {:action => 'contact'} , class: "hover-wrapper") %>
                <div class="menu-icon">
                    <i class="far fa-envelope"></i>
                </div>
                <%# <a href="contact.html" class="menu-string">Contact</a> %>
                <%= link_to("Contact", {:action => 'contact'} , class: "menu-string") %>
                <div class="underscore"></div>
            </div>
        </nav>
    </header>

    <!-- background big texts -->
    <aside>
        <h2><span id="bg-big-word" class="fade-in-bg-big-word">Web</span></h2>
        <h2><span id="bg-mid-word" class="fade-in-bg-mid-word">Dev.</span></h2>
    </aside>

    <main>
        <div class="section" id="type-writers">
            <h2><span class="type-writer type-first">Hi, I am Jason.</span></h2>
            <h2><span class="type-writer type-second">I am a Full Stack Developer.</span></h2>
        </div>
    </main>

    <!-- links to github, linkedIn, twitter and facebook -->
    <footer class="bg-color">
        <a href="https://github.com/jasonkim7288" class="links-icon links-icon-background to-left">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/im-jasonkim" class="links-icon links-icon-background">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/jasonkim7288" class="links-icon links-icon-background">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100003947625728"
            class="links-icon links-icon-background to-right">
            <i class="fab fa-facebook-f"></i>
        </a>
    </footer>
</div>
