<!-- projects articles -->
<main>
    <div class="section">
        <article class="article-one-column">
            <h3>Resume</h3>
            <p>Click below icon to download</p>
            <%= link_to("JasonKimResume.pdf") do %>
                <div class="links-icon-background to-little-right color-aqua">
                    <i class="far fa-file"></i>
                </div>
            <% end %>
        </article>
        <article class="article-one-column">
            <h3>Projects</h3>
        </article>
        <article class="article-multi-column">
            <%= @project.each do |project| %>
              <div class="post">
                  <h2><%= project.title %></h2>
                  <%= image_tag(project.image_addr, :alt => project.image_addr) %>
                  <p>Language : <%= project.language %></p>
                  <%= if project.p1 != nil && project.p1 != "" %>
                    <p><%= project.p1 %></p>
                  <% end %>
                  <%= if project.p2 != nil && project.p2 != "" %>
                    <p><%= project.p2 %></p>
                  <% end %>
                  <%= if project.p3 != nil && project.p3 != "" %>
                    <p><%= project.p3 %></p>
                  <% end %>
                  <%= if project.p4 != nil && project.p4 != "" %>
                    <p><%= project.p4 %></p>
                  <% end %>
                  <div>
                      <a href=<%= project.git_addr%>>
                          <div class="links-icon-background to-left">
                              <i class="fab fa-github"></i>
                          </div>
                      </a>
                  </div>
              </div>
            <% end %>
        </article>
    </div>
</main>
