<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? "#{@page_title} | " : ""%>Jason's Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw== sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />    
   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="bg-color">
    <!-- main title and navigation bar -->
    <header class="bg-color">
        <!-- main title -->
        <h1 id="title-top">Jason's</h1>
        <h1 id="title-bottom">Portfolio</h1>
        <!-- menu icon only appears on small window and underscore only appears on large window-->
        <nav class="right-nav">
            <div class="btn-wrapper">
                <%= link_to("", root_path , class: "hover-wrapper") %>
                <div class="menu-icon <%= @cur_page[:home] %>">
                    <i class="fas fa-home"></i>
                </div>
                <a href="<%= root_path%>" class="menu-string <%= @cur_page[:home] %>">Home</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <%= link_to("", about_path , class: "hover-wrapper") %>
                <div class="menu-icon <%= @cur_page[:about] %>">
                    <i class="fas fa-address-card"></i>
                </div>
                <a href="<%= about_path%>" class="menu-string <%= @cur_page[:about] %>">About</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <%= link_to("", projects_path , class: "hover-wrapper") %>                
                <div class="menu-icon <%= @cur_page[:project] %>">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <a href="<%= projects_path%>" class="menu-string <%= @cur_page[:project] %>">Projects</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <%= link_to("", blog_path , class: "hover-wrapper") %>                
                <div class="menu-icon <%= @cur_page[:blog] %>">
                    <i class="far fa-newspaper"></i>
                </div>
                <a href="<%= blog_path%>" class="menu-string <%= @cur_page[:blog] %>">Blog</a>
                <div class="underscore"></div>
            </div>
            <div class="btn-wrapper">
                <%= link_to("", contact_path , class: "hover-wrapper") %>
                <div class="menu-icon <%= @cur_page[:contact] %>">
                    <i class="far fa-envelope"></i>
                </div>
                <a href="<%= contact_path%>" class="menu-string <%= @cur_page[:contact] %>">Contact</a>
                <div class="underscore"></div>
            </div>
        </nav>
    </header>

    <%= yield %>

    <!-- links to github, linkedIn, twitter and facebook -->
    <footer class="bg-color <%= @flexible_footer %>">
        <a href="https://github.com/jasonkim7288" class="links-icon links-icon-background to-left">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/im-jasonkim" class="links-icon links-icon-background">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/jasonkim7288" class="links-icon links-icon-background">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100003947625728"
            class="links-icon links-icon-background to-right">
            <i class="fab fa-facebook-f"></i>
        </a>
    </footer>
</body>    

</html>
