<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "default" %>
    <%= stylesheet_link_tag "bg_words" %>
    <%= stylesheet_link_tag "index" %>
    <%= stylesheet_link_tag "default" %>
    <%= stylesheet_link_tag "default" %>
    <%= stylesheet_link_tag "default" %>
    <%= stylesheet_link_tag "default" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
